**/.archive
**/*.ipynb
baselines/ckpt/*
**/__pycache__
internal
**/.DS_Store
**/.vscode
data
ckpt
**/.env
ckpt/*
temp/
output_2.csv
output.csv
wandb/
baselines/baselines/archive
.venv/*
uv.lock
.python-version